﻿body { margin-top: 55px !important; }
.center { margin: 0 auto; width: 100%; text-align: center }
.right { float: right !important }
.left { float: left !important }
.full-width { width: 100% !important }

/*common*/
.padding-top-base { padding-top: 12px; }

.magirn-top-base { margin-top: 12px; }

.margin-left { margin-left: 12px; }
.action-pointer { cursor: pointer; color: blue }

.ui.segment .field{padding:10px;}