﻿#logo {
    display: none !important
}

.swagger-section #header {
    border-bottom: 1px solid #000000;
    font-style: normal;
    font-weight: 400;
    font-family: "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    background-color: black;
    height: 50px !important;
}

    .swagger-section #header h1 {
        text-align: center;
        font-size: 20px;
        color: white;
    }

/*h1, h2, h3, h4, p, span {
    color: white!important
}*/
